.tabs {
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  margin-bottom: 40px;

  .nav-item {
    display: inline-block;
    padding-bottom: 27px;
 
  }

  .nav-link {
    font-family: var(--font-body-family);
    color: #00000080;
    border: none;
    font-size: 20px;
    padding-bottom: 28px;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease;
    line-height: 1.2;
    letter-spacing: 1.6px;
    font-weight: 400;

    &.active {
      color: #000;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: -3px;
        height: 2px;
        background: #f5a623;
      }
    }
  }

  @media (max-width: 576px) {
    justify-content: flex-start;
    flex-direction: column;

    .nav-item {
      width: 100%;
    }
  }
}
