.searchPage {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px 0;
}

.searchContainer {
  width: 100%;

  .title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    color: #111;
    text-align: center;
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }

  .searchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 70%;

    input {
      width: 100%;
      padding: 16px 48px 16px 16px;
      border: 1px solid #ddd;
      border-radius: 6px;
      font-size: 18px;
      transition: all 0.2s ease;
      background: #ffffff;
      color: #000000bf;
      outline: none;
    }

    button {
      position: absolute;
      right: 12px;
      background: none;
      border: none;
      color: #444;
      font-size: 16px;
      cursor: pointer;
      transition: color 0.2s ease;

      &:hover {
        color: #000;
      }
    }
  }

  .resultText {
    margin-top: 20px;
    font-size: 15px;
    color: #444;
  }
}

.shopContent {
  display: flex;
  flex: 1;
  gap: 40px;
  padding: 60px 0;

  .rightContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }

  @media (max-width: 992px) {
    flex-direction: column;

    .rightContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.desktopSidebar {
  display: block;
  flex: 0 0 20%;

  @media (max-width: 991px) {
    display: none;
  }
}

.filterButton {
  display: none;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  background: #fff;
  border: 1.5px solid #000;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #000000bf;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  width: auto;
  min-width: unset;
  align-self: flex-start;
  svg {
    font-size: 25px;
    color: #333;
  }

  @media (max-width: 991px) {
    display: inline-flex;
  }
}
