.categoryList {
  color: #222;
  user-select: none;

 .heading {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 18px;
    letter-spacing: 1.5px;
    font-weight: 500;
    text-transform: uppercase;
    border-left: 3px solid #000;
    padding: 6px 0 6px 14px;
    margin-bottom: 20px;

    &::after {
      content: "";
      flex: 1;
      height: 1px;
      background: #d8d8d8;
      margin-left: 8px;
      width: 100%;
    }
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;

    .item {
      position: relative;
      font-size: 16px;
      padding: 8px 0 8px 22px;
      cursor: pointer;
      color: #00000080;
      transition: all 0.2s ease;
      font-weight: 500;
      letter-spacing: 1px;

      .arrow {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.2s ease;
        font-size: 10px;
        color: #000;
      }

      &:hover {
        color: #000;
        .arrow {
          opacity: 1;
        }
      }

      &.active {
        font-weight: 600;
        color: #000;
        .arrow {
          opacity: 1;
        }
      }
    }
  }
}
